@mixin dismissable($backgroundColor, $color) {
  display: inline-flex;
  align-items: center;

  svg {
    cursor: pointer;
    margin-left: 0.25rem;

    path {
      fill: $backgroundColor;

      + path {
        fill: $color;
      }
    }
  }
}