:root {
  --color-primary: #{$primary};
  --color-primary-light: #{$primaryLight};
  --color-secondary: #{$secondary};
  --color-secondary-light: #{$secondaryLight};
  --color-success: #{$success};
  --color-success-light: #{$successLight};
  --color-danger: #{$danger};
  --color-danger-light: #{$dangerLight};
  --color-warning: #{$warning};
  --color-warning-light: #{$warningLight};
  --color-info: #{$info};
  --color-info-light: #{$infoLight};

  // Form Elements
  --checkbox-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}